{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Новости
{% endblock title %}

{% block content %}
<h1>Последние новости</h1>
<h3>{{ time_now|date: 'M d Y'}}</h3>
<form action="" method="get">
    {{ filterset.form.as_p }}
    <input type="submit" value="Найти" />
</form>
{{ post }}
<hr> 
{% if news %}
    <table>
        <tr>
            <td>Заголовок</td>
            <td>Текст</td>
            <td>Категория</td>
            <td>Дата публикации</td>
        </tr>
        {% for post in news %}
        <tr>
            <td><a href="{% url 'news_detail' post.pk %}">{{ post.post_header }}</a></td>
            <td align="left">{{ post.post_body|censor|preview }}</td>
            <td>{{ post.category.name|censor }}</td>
            <td> {{ post.input_date_time|date:'D.M.Y h:m' }} </td>
        </tr>
            {% endfor %}
     </table>/>
{% if page_obj.has_previous %}
<a href="?{% url_replace page=1 %}">1</a>
{% if page_obj.previous_page_number != 1 %}
<a href="?{% url_replace_page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
{% endif %}
{% endblock content %}